.mobile {
    .page__cnt{
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
    .next-btn__bg, .prev-btn__bg{
        display: none;
    }

    .nav__cnt{
        padding: 10px 55px !important;
    }
    .items.nextBtn{
        display: block !important;
    }
    
}
.page__cnt {
    @extend .container;
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Archivo Black', sans-serif;

    .header__glow {
        position: absolute;
        width: 100%;
        height: 40px;
        top: 0%;
        left: 0%;
        padding-left: 175px;
        padding-right: 175px;
        div {
            width: 100%;
            height: 40px;
            background-color: white;
        }
    }

    h1 {
        font-size: 3rem;
    }

    .page__about-me {
        padding: 200px 60px 150px 60px;
        .header {
            font-size: 1.9rem;
            color: white;
            font-family: 'Archivo Black', sans-serif;
            font-style: italic;
            // font-family: 'Archivo', sans-serif;
        }
        p {
            // text-align: left;
            z-index: 2;
            margin: 0px;
            color: #b2b2b2;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
}

.highlight {
    position: relative;
    text-decoration: none;
    color: inherit;
    &::after {
        content: '';
        position: absolute;
        width: 0%;
        top: 0%;
        height: 50%;
        left: 0%;
        background-color: #ffffff50;
        transition: width .3s linear;
    }
    &::before {
        content: '';
        position: absolute;
        width: 0%;
        top: 50%;
        height: 50%;
        right: 0%;
        background-color: #ffffff50;
        transition: width .3s linear;
    }

}
.highlight:hover{
    color: inherit;
}
.highlight:hover, .active {
    &::before, &::after {
        width: 100%;
        transition: width .3s linear;
    }
}

.tilt-btn {
    position: relative;
    .tilt-btn__cnt{
        position: relative;
        text-transform: uppercase;
        font-family: 'Francois One', sans-serif;
        border-radius: 4px;
        z-index: 2;
        padding      : 5px 20px;
        cursor       : pointer;
        top: 0px;
        transition: all 0.1s linear;

        &:hover {
            top: 2px;
            filter: brightness(0.8);
            transition: all 0.2s linear;
        }
    }

    span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 5px;
        left: 0%;
        z-index: -1;
    }
}
.danger {
    // z-index:2;
    .tilt-btn__cnt{
        background-color: rgb(199, 4, 4);
    }

    span{
        border-radius: 4px;
        background-color: rgb(144, 14, 14);
        z-index: 1;
    }
}

.info {
    // z-index:2;
    .tilt-btn__cnt{
        background-color: #00d9bf;
    }

    span{
        border-radius: 4px;
        z-index: 1;
        background-color: #008c7c;
    }
}


.next-btn__bg {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo Black', sans-serif;

    a {
        position: relative;
        z-index: 2;
        width: 80px;
        height: 60px;
        &::after{
            content: '';
            position: absolute;
            width: 40px;
            top: 50%;
            right: 0%;
            height: 2px;
            background-color: #b2b2b2;
            transform-origin: right;
            transform: rotate(-45deg);
            transition: all 0.2s ease-in;
        }
        &::before{
            content: '';
            position: absolute;
            width: 40px;
            top: 50%;
            right: 0%;
            height: 2px;
            background-color: #b2b2b2;
            transform-origin: right;
            transform: rotate(45deg);
            transition: all 0.2s ease-in;
        }
    }
    a:hover {
        pointer-events: inherit;
        &::after {
            transform: rotate(-60deg);
            transition: all 0.2s ease-in;
        }
        &::before{
            transform: rotate(60deg);
            transition: all 0.2s ease-in;
        }
    }
    a:focus-within {
        pointer-events: inherit;
        &::after {
            transform: rotate(0deg);
            transition: all 0.2s ease-in;
        }
        &::before{
            transform: rotate(0deg);
            transition: all 0.2s ease-in;
        }
        
    }
    a:hover + p, p:hover {
        right: 50%;
        visibility: visible;
        opacity: 1;
        transition: all 0.2s ease-in;
    }
    p {
        z-index: 1;
        visibility: hidden;
        color: #b2b2b2;
        margin: 0px;
        position: absolute;
        opacity: 0;
        font-size: 18px;
        right: 30%;
    }
}
.prev-btn__bg {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo Black', sans-serif;

    a {
        position: relative;
        z-index: 2;
        width: 80px;
        height: 60px;
        &::after{
            content: '';
            position: absolute;
            width: 40px;
            top: 50%;
            left: 0%;
            height: 2px;
            background-color: #b2b2b2;
            transform-origin: left;
            transform: rotate(-45deg);
            transition: all 0.2s ease-in;
        }
        &::before{
            content: '';
            position: absolute;
            width: 40px;
            top: 50%;
            left: 0%;
            height: 2px;
            background-color: #b2b2b2;
            transform-origin: left;
            transform: rotate(45deg);
            transition: all 0.2s ease-in;
        }
    }
    a:hover {
        pointer-events: inherit;
        &::after {
            transform: rotate(-60deg);
            transition: all 0.2s ease-in;
        }
        &::before{
            transform: rotate(60deg);
            transition: all 0.2s ease-in;
        }
    }
    a:focus-within {
        pointer-events: inherit;
        &::after {
            transform: rotate(0deg);
            transition: all 0.2s ease-in;
        }
        &::before{
            transform: rotate(0deg);
            transition: all 0.2s ease-in;
        }
        
    }
    a:hover + p, p:hover {
        left: 50%;
        visibility: visible;
        opacity: 1;
        transition: all 0.2s ease-in;
    }
    p {
        z-index: 1;
        visibility: hidden;
        color: #b2b2b2;
        margin: 0px;
        position: absolute;
        opacity: 0;
        font-size: 18px;
        left: 30%;
    }
}

.social__media {
    position: fixed;
    // width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__media__cnt {
    position: relative;
    width: 60px;
    background-color: #62E1D2;
}
    
    .social__media__icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;

        a{
            width: 100%;
            transition: all 0.2s linear;
            img {
                margin: 14px 0px;
                width: 40px;
                height: 40px;
                object-fit: cover;
                transition: transform 0.2s linear;
            }
            &:hover{
                width: 150%;
                padding-left: 15px;
                transition: all 0.2s linear;
            }

        }

    }


.fadeOut_cst3 {
    animation: fadeOut 0.5s forwards !important;
}
.fadeOut_cst0 {
    animation: fadeOut 0s forwards !important;
}
.fadeOut_cst2 {
    animation: fadeOut 5s forwards;
}
.fadeIn_cst3 {
    animation: fadeIn 0.5s forwards !important;
}
.fadeIn_cst2 {
    animation: fadeIn 1s forwards;
}

#destroye-btn {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    animation-delay: 4.4s;
}
#ping-pong__container {
    width    : clamp(300px, 40vw, 100vw);
    height: 200px;
    left: 50%;
    top: 50%;
    position: absolute;
    display  : inline-block;
    transform: translate(-50%, -50%) rotate(-45deg);
    // transform: translateY(200px);
}
#ping-pong__container2 {
    width    : clamp(300px, 40vw, 100vw);
    height: 200px;
    left: 50%;
    top: 50%;
    position: absolute;
    display  : inline-block;
    transform: translate(-50%, -50%) rotate(45deg);
    // transform: translateY(200px);
}

.pong-bar {
    background: #FFFFFF;
    width     : 10px;
    height    : 100px;
    border-radius: 4px;
}

.bar1 {
    float: left;
}

.bar2 {
    float: right;
}

.ball {
    background: #FFFFFF;
    width     : 10px;
    height    : 10px;
    position  : relative;
    top       : 45px;
    left      : 10px;
}



/* About New Page */
.blobs {
    filter  : url('#goo');
    position: absolute;
    pointer-events: none;
    top     : 0;
    left    : 0;
    bottom  : 0;
    right   : 0;
    overflow: hidden;
}

$dist-x:65px;
$dist-y:65px;

@keyframes blob-top-to-bottom {
    0% {
        top: 0%;
    }

    100% {
        top: 100%
    }
}

// $blob-color: #F2DA2D;
// $blob-color: #ececec;
$blob-color: #e1e1e1;
// $blob-color: #ff2424;

.blob {
    position        : absolute;
    // background   : #e97b7a;
    // background   : #F2DA2D;
    background      : $blob-color;
    left            : var(--position, 50%);
    width           : var(--size, 25px);
    height          : var(--size, 25px);
    top             : 50%;
    line-height     : 100px;
    text-align      : center;
    color           : white;
    font-size       : 40px;
    border-radius   : 100%;
    margin-top      : -50px;
    margin-left     : -50px;
    animation       : blob-top-to-bottom cubic-bezier(0, .85, 1, .15) 4s infinite;
    animation-delay : var(--delay, 0s);
}

.center {
    position           : absolute;
    left               : 50%;
    top                : 50%;
    font-size          : 6rem;
    text-align         : center;
    transform          : translate(-50%, -50%);
    // white-space: nowrap;
    // font-family: 'Lobster', cursive;
    font-family        : 'Pacifico', cursive;
    color              : $blob-color;
}

@media (max-width: 500px) {
    .center {
        font-size: 4rem;
    }
}

.contact__icons{
    position: absolute;
    bottom: 50px;
    left: clamp(10px, 50px, 10vw);
    display: flex;
    .items{
        position: relative;
        display: flex;
        a{
            margin: 0px 10px;
            color: $blob-color;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            i{
                text-align: center;
            }

            &:hover + .cst-tooltip{
                // display: block;
                opacity: 1;
                // top: -30px;
                transform: translateX(-50%) translateY(-30px);
            }
        }

        &.nextBtn{
            display: none;
            position: absolute;
            left: calc(100% + 50px);
        }
        .cst-tooltip{
            // display: none;
            pointer-events: none;
            opacity: 0;
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            color: #2F2F2F;
            font-size: 14px;
            padding: 2px 4px;
            border-radius: 4px;
            font-weight: 700;
            background-color: white;
            white-space: nowrap;
            transition: all 0.2s ease-in;
            &::after{
                content: '\f0d7';
                font-family: 'Font Awesome 5 Free';
                color: white;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 66%;
                // bottom: 0px;
            }
        }
    }
}